.exercises-main {
    padding-top: 10rem;
    padding-left: 30rem;
}

.workout-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.workout-icon {
    cursor: pointer;
    overflow: hidden;
}

.workout-icon div {
    padding: 2rem;
}

.workout-icon img {
    max-width: 5rem;
    max-height: 5rem;
}

.icon-title {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.header__primary {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

.search-exercise {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.search-exercise-input,
.search-exercise-btn {
    padding: 2rem;
    border-radius: 3px;
    font-size: 1.5rem;
    border: none;
}

.search-exercise-input {
    width: 50rem;
    margin-right: 1rem;
    transition: .3s ease;
}

.search-exercise-input:focus {
    width: 52rem;
}

.search-exercise-btn {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.exerciseslist {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8rem 8rem 10rem;
}
.exercise-card {
    margin: 0 5rem 2rem 0;
}

.working-muscles {
    padding: 1rem 1rem 1rem 0;
}
.working-muscle {
    background-color: var(--color-secondary);
    padding: .5rem 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}
.exercise-name {
    font-size: 1.5rem;
    width: 36rem;
}