.welcome-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content__wrapper {
    max-width: 75%;
}

.greeting {
    margin-bottom: 5rem;
}

.greeting .header__primary {
    font-size: 5rem;
    text-align: center;
}

.logo {
    width: 100%;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-secondary);
}

.content {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 30%;
}

.card img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.card__description {
    font-size: 2rem;
    text-align: center;
}

.controllers {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.controllers * {
    background-color: var(--color-secondary);
    padding: 1.5rem 5rem;
    border-radius: .5rem;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
}

.back {
    margin-right: 5rem;
}